HTML, body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(227, 227, 227);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo i{
    font-size: 40px;
    color: #bdbc82;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    flex-grow: 1;
}

.nav-links li{
    display: inline;
}

.nav-links a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 500;
    transition-duration: 0.4s;
    font-size: 18px;
}

.nav-links a.active {
    font-weight: 700;
}

.nav-links a:hover{
    font-weight: 800;
}

.contact-me-button{
    background-color: #0f172a;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid #0f172a;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat';
    transition-duration: 0.4s;
}
.contact-me-button:hover{
    background-color: transparent;
    color: #0f172a;
}

.allContent{
    background-color: white;
    display: flex;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 10px 20px 20px 20px ;
}
.Container{
    width: 60%;
    margin-left: auto;
    margin-right: 40px;
    text-align: justify;
    justify-content: center;
}

.Container h1 {
    font-size: 32px; 
    font-weight: 800;
}

.Container a {
    text-align: justify;
}

.action-button{
    display: inline-flex; 
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.action-button button{
    border-radius: 20px;
    border: 2px solid black;
    padding: 7px 30px;
    margin: 0;
    font-size: 16px;
    background-color: rgb(37, 36, 41);
    color: white;
    font-family: 'Montserrat';
    cursor: pointer;
    transition-duration: 0.4s;
}


.action-button button:hover {
    background-color: white;
    color: black;
}

.cv-download  {
    margin: auto;
}
.cv-download a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition-duration: 0.4s;
    
}

.cv-download a:hover{
    font-weight: 700;
}

.socialmedia{
    display: flex;
    gap: 30px;
    align-content: center;
}
.socialmedia a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    gap: 20px;
    font-size: 24px;
    border: 2px solid black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.socialmedia a:hover{
    background-color: white;
    color: black;
}

.profile{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; */
    margin: auto;
    background-color: white;
}
.profile img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.profile h1{
    margin: 5px  0 5px;
    font-size: 125%;
    font-weight: 800;
}
.profile p{
    margin: 5px 0 2px;
    font-size: 16px;
    padding: 0 10px 20px;
}